* {
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
  }

body {
    height: 100vh;
    background-image:linear-gradient(rgb(0, 255, 234), rgb(234, 4, 255));
}

main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1100px;
    margin: 0 auto;
    height: 60%;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    height: 20%;
}

#colorPicker {
    width: 100px;
    height: 100px;
}

.sideOptions {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px 0px;
    padding: 20px;
    color: black;
    min-width: 180px;
}

.slideContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px 0px;
}

.buttonArea {
    display: flex;
    flex-direction: column;
    gap: 30px 0px;
}

.grid-item {
}

#grid-container {
    grid-area: main;
    display: grid;
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 500px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
}

#slider {

}

